# python library metadata
*.egg-info/

# virtualenv
venv/

# chalice deployment
vendor/

# temp build file
build/

# compiled bytes code cache
__pycache__/

# pytest cache
.pytest_cache/
.coverage.annotate/
.coverage

# git meta files
.git/

# PyCharm project
.idea/

# Temp folder
tmp/

# MacOS
.DS_Store
