pytest                                  # test framework
pytest-cov                              # coverage test
requests                                # integration test dependency
locust                                  # load test
